<ion-toolbar color="primary">
  <ion-title>Dance</ion-title>
</ion-toolbar>
<ion-content class="card-background-page">
  <ion-card>
    <img src="/assets/dance1.jpeg" />
    <ion-card-content>
      <ion-card-title>
        Salsa
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/dance3.jpg" />
    <ion-card-content>
      <ion-card-title>
        Hip Hop
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/dance2.png" />
    <ion-card-content>
      <ion-card-title>
        Bhangra
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>